
@font-face {
  font-family: 'Knul-ExtraBold';
  src: url('Knul-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('Knul-ExtraBold.otf')  format('opentype'),
	     url('Knul-ExtraBold.woff') format('woff'), url('Knul-ExtraBold.ttf')  format('truetype'), url('Knul-ExtraBold.svg#Knul-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
