@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, images, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0;}

:focus {outline: 0;}
ol, ul {list-style: none;}

body{ /*background:url(../images/fond/0001_03.jpg) repeat;*/ color:#171717; font-family:Arial, Helvetica, sans-serif; font-size:14px; margin:0px; padding:0px;}

img{border:0px;}

a, span, button, .tips{ text-decoration:none;
  -webkit-transition: all 0.1s ease-in;
     -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
       -o-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;
}

a{ color:#000;}

a:hover{text-decoration:none; color:#15ed98;}

input, button, select{ -webkit-transition: all 0.1s ease-in;
     -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
       -o-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;
}
hr{border: 0px; border-bottom: 1px dotted #cccccc;
height: 10px;
}

/**************************************************************************/
/**************************************************************************/
/**************************************************************************/

@font-face {font-family: 'Futura';
    src: url('../typo/futura_bold_bt-webfont.eot');
    src: url('../typo/futura_bold_bt-webfont?#iefix') format('embedded-opentype'),
         url('../typo/futura_bold_bt-webfont.woff') format('woff'),
         url('../typo/futura_bold_bt-webfont.ttf') format('truetype'),
         url('../typo/futura_bold_bt-webfont.svg#webfontu8K7hU6c') format('svg');
    font-weight: normal;
    font-style: normal;}
	
@font-face {font-family: 'Neutra';
    src: url('../typo/neutra2text-bold..eot');
    src: url('../typo/neutra2text-bold.eot?#iefix') format('embedded-opentype'),
         url('../typo/neutra2text-bold.woff') format('woff'),
         url('../typo/neutra2text-bold.ttf') format('truetype'),
         url('../typo/neutra2text-bold.svg#webfontu8K7hU6c') format('svg');
    font-weight: normal;
    font-style: normal;}