
@font-face {
  font-family: 'DrukWeb-Medium';
  src: url('DrukWeb-Medium.eot?#iefix') format('embedded-opentype'),  url('DrukWeb-Medium.woff') format('woff'), url('DrukWeb-Medium.ttf')  format('truetype'), url('DrukWeb-Medium.svg#DrukWeb-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
