@charset "utf-8";

@font-face {
    font-family: 'Knul-Bold';
    src: url('../_fonts/knulbold/Knul-Bold.eot?#iefix') format('embedded-opentype'),  url('../_fonts/knulbold/Knul-Bold.otf')  format('opentype'),
           url('../_fonts/knulbold/Knul-Bold.woff') format('woff'), url('../_fonts/knulbold/Knul-Bold.ttf')  format('truetype'), url('../_fonts/knulbold/Knul-Bold.svg#Knul-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Knul-ExtraBold';
    src: url('../_fonts/knulextrabold/Knul-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../_fonts/knulextrabold/Knul-ExtraBold.otf')  format('opentype'),
           url('../_fonts/knulextrabold/Knul-ExtraBold.woff') format('woff'), url('../_fonts/knulextrabold/Knul-ExtraBold.ttf')  format('truetype'), url('../_fonts/knulextrabold/Knul-ExtraBold.svg#Knul-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Knul-Medium';
    src: url('../_fonts/knulmedium/Knul-Medium.eot?#iefix') format('embedded-opentype'),  url('../_fonts/knulmedium/Knul-Medium.otf')  format('opentype'),
           url('../_fonts/knulmedium/Knul-Medium.woff') format('woff'), url('../_fonts/knulmedium/Knul-Medium.ttf')  format('truetype'), url('../_fonts/knulmedium/Knul-Medium.svg#Knul-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  

html{
    width:100%;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 12pt;
    font-size: 12pt;
    background-color: #0e4575;
    font-family: 'Knul-Medium', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

canvas{
    position: absolute;
    display: block;
    width: 600px;
    height: 315px;
}

.lanscpmob{
    display: none;
}

.bouton{
    position: absolute;
    display: block;
    border: 3px solid #ffd900;
    padding: 14px 20px;
    font-family: 'Knul-ExtraBold', Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    left:50%;
    bottom: 20%;
    -webkit-transform: skewX(-12deg) translateX(-50%);
    -moz-transform: skewX(-12deg) translateX(-50%);
    -ms-transform: skewX(-12deg) translateX(-50%);
    -o-transform: skewX(-12deg) translateX(-50%);
    transform: skewX(-12deg) translateX(-50%);
    border-radius: 4px;
    background: #ebc908;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViYzkwOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNTg4MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ebc908 0%, #b58835 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebc908), color-stop(100%,#b58835));
    background: -webkit-linear-gradient(top, #ebc908 0%,#b58835 100%);
    background: -o-linear-gradient(top, #ebc908 0%,#b58835 100%);
    background: -ms-linear-gradient(top, #ebc908 0%,#b58835 100%);
    background: linear-gradient(to bottom, #ebc908 0%,#b58835 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebc908', endColorstr='#b58835',GradientType=0 ); */
}

.retour, .patienter{
    position: absolute;
    color:#fff;
    font-family: 'Knul-Medium', Arial, Helvetica, sans-serif;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 5%;
    text-align: center;
}

.patienter{
    bottom: 10%;
}

.bouton span{
    display: block;
    -webkit-transform: skewX(12deg);
    -moz-transform: skewX(12deg);
    -ms-transform: skewX(12deg);
    -o-transform: skewX(12deg);
    transform: skewX(12deg);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.joue, .valide{
    padding: 10px 55px;
}

.appli{
    font-size: 1.4em;
    padding: 8px 16px;
    bottom: 13%;
}

.applih, .savoir{
    padding: 8px 16px;
    bottom: 12%;
    left:49%;
}

.savoir{
    bottom: 4%;
}

.valide{
    bottom: 10%;
}

.noskew{
    background: none;
    border: 1px solid #ffd900;
    font-size: 1.2em;
}

.continuer{
    bottom: 5%;
}

.header{
    background-color: #0e4575;
    width: 100%;
    height: 158px;
    overflow: hidden;
}

.footer{
    background-color: #0e4575;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.header iframe{
    width: 100%;
    height: 100%;
}

.footer iframe{
    width: 100%;
    height: 100%;
}

.xbold{
    font-family: 'Knul-ExtraBold', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.hbold{
    font-size: 1.1em; 
    font-weight: bold;
}

.contener{
    position: relative;
    top: 0px;
    width: 100%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
    min-height: 750px;
}

.contener .intro, .contener .formulaire, .contener .partages{
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.contener .intro img.bg, .contener .selection img.bg, .contener .formulaire img.bg, .contener .partages img.bg{
    position: absolute;
    bottom:0;
    width: auto;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

img.cd{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: auto;
}

img.cg{
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: auto;
}

img.logo{
    position: absolute;
    top:2%;
    left: 50%;
    width: 28%;
    height: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

img.cercle{
    position: absolute;
    top:1%;
    right: 0;
    width: 35%;
    height: auto;
}

img.joueurs{
    position: absolute;
    bottom:5%;
    right: 0;
    width: 33%;
    height: auto;
}

.dotation{
    position: absolute;
    width: 30%;
    top: 47%;
    left: 1%;
    -webkit-transform: translateY(-53%);
    -ms-transform: translateY(-53%);
    transform: translateY(-53%);
    text-align: center;
    color: #f8ea94;
    font-family: 'Knul-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-shadow: 1px 2px 3px #000;
}

.dotation img{
    width: 100%;
    height: auto;
}

.dotation span{
    text-transform: uppercase;
}

.contener .intro h1{
    position: absolute;
    top:17%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    color: #fff;
    font-family: 'Knul-ExtraBold', Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    margin: 0;
    line-height: 1.1em;
}

.contener .intro ol{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 35%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contener .intro ol li{
    display: block;
    color: #fff;
    position: relative;
    margin-bottom: 4%;
    font-family: 'Knul-Medium', Arial, Helvetica, sans-serif;
}

.contener .intro ol > li {
    counter-increment: customlistcounter;
}
  
.contener .intro ol > li:before {
    content: counter(customlistcounter) "";
    font-weight: bold;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    display: inline-block;
    color: #201d56;
    text-align: center;
    line-height: 1.5em;
    vertical-align: middle;
    background: transparent url('../_img/puce.png') center center no-repeat;
    position: absolute;
    top:0;
    left: 0;
}
  
.contener .intro ol:first-child {
    counter-reset: customlistcounter;
}

.contener .intro ol li span{
    position: relative;
    top: 0;
    margin-left: 3em;
    display: block;
    font-size: 1.0em;
    color: #fff;
}
        
.contener .intro ol li span strong{
    font-family: 'Knul-ExtraBold', Arial, Helvetica, sans-serif;
}

.contener .selection{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    background: transparent url(../_img/blank.gif) top left;
}

.contener .selection ul{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    left:50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
}

.contener .selection ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    width: 14%;
    max-width: 124px;
    height: auto;
    font-size: 0;
}

.contener .selection ul li img{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.contener .selection ul li.buteur1{
    left:50%;
    -webkit-transform: translate(-50%,5%);
    -ms-transform: translate(-50%,5%);
    transform: translate(-50%,5%);
}

.contener .selection ul li.ailierg{
    left:10%;
    -webkit-transform: translate(-10%,30%);
    -ms-transform: translate(-10%,30%);
    transform: translate(-10%,30%);
}

.contener .selection ul li.ailierd{
    left:90%;
    -webkit-transform: translate(-90%,30%);
    -ms-transform: translate(-90%,30%);
    transform: translate(-90%,30%);
}

.contener .selection ul li.milieu1{
    left: 30%;
    -webkit-transform: translate(-30%, 70%);
    -ms-transform: translate(-30%, 70%);
    transform: translate(-30%, 70%);
}

.contener .selection ul li.milieu2{
    left:70%;
    -webkit-transform: translate(-70%, 70%);
    -ms-transform: translate(-70%, 70%);
    transform: translate(-70%, 70%);
}

.contener .selection ul li.milieu3{
    left: 50%;
    -webkit-transform: translate(-50%, 120%);
    -ms-transform: translate(-50%, 120%);
    transform: translate(-50%, 120%);
}

.contener .selection ul li.defenseur2{
    left:30%;
    -webkit-transform: translate(-30%, 190%);
    -ms-transform: translate(-30%, 190%);
    transform: translate(-30%, 190%);
}

.contener .selection ul li.defenseur3{
    left:70%;
    -webkit-transform: translate(-70%, 190%);
    -ms-transform: translate(-70%, 190%);
    transform: translate(-70%, 190%);
}

.contener .selection ul li.gardien{
    left:50%;
    -webkit-transform: translate(-50%, 240%);
    -ms-transform: translate(-50%, 240%);
    transform: translate(-50%, 240%);
}


.contener .selection ul li.defenseur1{
    left:2%;
    -webkit-transform: translate(-2%, 160%);
    -ms-transform: translate(-2%, 160%);
    transform: translate(-2%, 160%);
}
.contener .selection ul li.defenseur4{
    left:98%;
    -webkit-transform: translate(-98%, 160%);
    -ms-transform: translate(-98%, 160%);
    transform: translate(-98%, 160%);
}


.contener .selection ul li a{
    position: absolute;
    left: 0;
    /* transform: inherit; */
    -webkit-transform: translate(0.05%,0.05%);
    -ms-transform: translate(0.05%,0.05%);
    transform: translate(0.05%,0.05%);
    /* transform: translateY(0.05%); */
    display: block;
    top: 0;
    width: 100%;
    font-size: 0;
}


.contener .selection ul li a:hover, .contener .selection ul li a.current{
    background:url(../_img/scoin1.png) no-repeat left top, 
    url(../_img/scoin2.png) no-repeat right top, 
    url(../_img/scoin3.png) no-repeat left bottom, 
    url(../_img/scoin4.png) no-repeat right bottom;
    color:#c51965;
}

.contener .selection h3{
    position: absolute;
    bottom: 6%;
    padding: 0;
    margin: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: 'Knul-ExtraBold', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.6em;
}

.contener .selection ul li a img{
    width: 100%;
    height: auto;
    border: 0;
}


.contener .popup{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent url(../_img/transp.png) top center;
}

.contener .popup .modal{
    position: absolute;
    width: 70%;
    height: auto;
    overflow: hidden;
    left: 50%;
    top: 50%;
    background: #fff;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

.contener .popup .modal .bordure{
    position: absolute;
    width: 100%;
    top:0;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1a1755;
}

.contener .popup .modal .bordure a{
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    right:5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: transparent url(../_img/close.png) top center no-repeat;
}

.contener .popup .modal .bordure a:hover{
    background-position: bottom center;
}

.contener .popup .modal ul{
    width: 96%;
    height: auto;
    margin: 8% 0 2% 0;
    padding: 0 2% 0 3%;
    text-align: left;
}

.contener .popup .modal ul li{
    display: inline-block;
    width: 33%;
    height: auto;
    vertical-align: top;
}

.contener .popup .modal ul li:nth-child(1n+4){
    border-top: 1px solid #ccc;
}

.contener .popup .modal ul li:nth-child(2), .contener .popup .modal ul li:nth-child(5){
/* .contener .popup .modal ul li:nth-child(odd){ */
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.contener .popup .modal ul li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    right:0;
    text-align: center;
    background:#fff;
    color: #1a1755;
    text-decoration: none;
}

.contener .popup .modal ul li a.noselec{
    opacity: .3;
    pointer-events: none;
    cursor: default;
}
.contener .popup .modal ul li a:hover, .contener .popup .modal ul li a.insel{
    background:url(../_img/coin1.png) no-repeat left top, 
    url(../_img/coin2.png) no-repeat right top, 
    url(../_img/coin3.png) no-repeat left bottom, 
    url(../_img/coin4.png) no-repeat right bottom;
    color:#c51965;
}

.contener .popup .modal ul li a img{
    width: 100%;
    max-width: 124px;
    height: auto;
    margin-bottom: -18px;
    border: 0;
}

.contener .popup .modal ul li a p{
    font-size: 12pt;
    display: block;
    padding: 0% 8%;
    margin: 0;
}

.contener .popup .modal ul li a p span{
    display: block;
}

.contener .popup .modal ul li a p span.nom{
    text-transform: uppercase;
    font-weight: bold;
}

.contener .popup .modal ul li a p span.perf{
    display: block;
    font-size: .8em;
    height: 50px;
    min-height: 50px;
    margin-top: 10px;
}

.contener .formulaire h2, .contener .partages h2, .contener .partages h3{
    position: absolute;
    top:17%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    color: #fff;
    font-family: 'Knul-Medium', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    font-weight: normal;
    margin: 0;
    line-height: 1.2em;
}

.contener .formulaire .saveprofil{
    position: absolute;
    width: 25%;
    left: 50%;
    top: 68%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
            
.contener .formulaire .saveprofil form ul{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    
}

.contener .formulaire .saveprofil form ul li{
    list-style: none;
    width: 100%;
}

.contener .formulaire .saveprofil form ul li.mention{
    display: block;
    height: 20px;
    margin-top: 0;
    text-align: left;
    vertical-align: middle;
    font-size: 1.0em;
    padding: 2%;
    border-radius: 1.8em;
    border: 1px solid #fff;
}

.contener .formulaire .saveprofil form ul li.erreur{
    border: 1px solid #d9385e;
}

.contener .formulaire .saveprofil form ul li.mention span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    color:#fff;
    padding-left: 2%;
  }

.contener .formulaire .saveprofil form ul li.mention span a{
    color:#fff;    
}

  .contener .formulaire .saveprofil form ul li.mention input.checkregle{
    float: left;
    margin-top: -1px;
    vertical-align: middle;
    padding: 0 ;
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

.contener .formulaire .saveprofil form ul li input{
    width: 100%;
    height: 1.8em;
    border: none;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 1.8em;
    margin-bottom: 2%;
    background-color: #fff;
    color: #000;
}

.contener .formulaire .saveprofil form ul li input.erreur{
    background-color: #d9385e;
    color: #fff;
}

.contener .formulaire .monequipe, .contener .partages .monequipe{
    display: inline-block;
    position: absolute;
    top: 25%;
    width: 37%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-box-shadow: 0px 0px 0px 5px rgba(255,255,255,.2);
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255,255,255,.2);
    -o-box-shadow: 0px 0px 0px 5px rgba(255,255,255,.2);
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,.2);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff url(../_img/loading.gif) center center no-repeat;
    font-size: 0;
}

.contener .formulaire .monequipe img, .contener .partages .monequipe img{
    position: relative;
    width: 100%;
    height: auto;
}

.contener .partages .partage{
    top: 35%;
}

.contener .partages .semainefifa{
    top: 30%;
}

.contener .partages .semainefifa a{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.contener .partages .semainefifa a:after{
    content: ' ';
    position: absolute;
    display: block;
    width:36px;
    height: 37px;
    right: 0;
    bottom: 0;
    background-image: url(../_img/zoom.png);
}

.contener .partages .trophee{
    width: 37%;
    top: 27%;
}

.contener .partages h3{
    top:67%;
}

.contener .partages h3.ttfifa{
    top: 63%;   
}

.contener .partages h3.tttrophee{
    top: 62%;   
}

.contener .partages ul{
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    width: 18%;
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}

.contener .partages ul.ptfifa{
    top: 69%;
}

.contener .partages ul.pttrophee{
    top: 70%;
}

.contener .partages ul li{
    list-style: none;
    display: inline-block;
    width: 25%;
    margin-left: 8%;
}

.contener .partages ul li:first-child{
    margin-left: 0;
}

.contener .partages ul li a{
    display: block;
    width: 100%;
    height: auto;
    font-size: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.contener .partages ul li a img{
    width: 100%;
    height: auto;
}

.contener .partages ul li.facebook a{
    background-image: url(../_img/facebook.png);
}

.contener .partages ul li.twitter a{
    background-image: url(../_img/twitter.png);
}

.contener .partages ul li.download a{
    background-image: url(../_img/dl.png);
}

.contener .partages ul li.playstore a{
    background-image: url(../_img/playstore.png); 
}

.contener .partages ul li.appstore a{
    background-image: url(../_img/appstore.png); 
}

.contener .popup .modalzoom{
    width: 90%;
}

.contener .popup .modal .zoomphot{
    font-size: 0;
}

.contener .popup .modal .zoomphot img{
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.nodisplay{
    display: none;
}


/* -- LANDSCAPE --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (orientation: landscape) and (min-width:801px) and (min-height:400px) {
    
    body{
        height: 100%;
    }
    .header{
        height: 158px;
        overflow: hidden;
        text-align: center;
    }
    .footer{
        height: 240px;
        overflow: hidden;
        text-align: center;
    }

    .contener{
        max-width: 1200px;
        min-width: 1024px;
    }
}

/* ----- mode lanscape mobiloe hors formulaire (retouner ecran)----- */

@media screen and (orientation: landscape) and (min-width:430px) and (max-width:800px){

    
    .contener, .header, .footer{
        display: none;
    }


    .lanscpmob{
        display: block;
        color:#fff;
        background:#0e4575;
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        text-align: center;
    }

    .lanscpmob p{
        font-size: 3vw;
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
    }
    
}

/* ----- affichage formulaire sur android ----- */

@media screen and (orientation: landscape) and (max-width:420px) {

    body{
        position: static;
    }
    .header, .footer{
        display: none;
    }
    .contener{
        position: absolute;
        top: 0;
        overflow: scroll;
        height: auto;
        min-height: auto;
        display: block;
        background: blue;
    }

    .lanscpmob{
        display: none;
    }
    
    .contener .formulaire{
        display: block;
        position: relative;
        top:auto;
        height: 100%;
        background: #ff0000;
    }

    .contener .formulaire .monequipe, .contener .formulaire .dotation{
        display: none;
    }

  

    .contener .formulaire h2{
        display: none;
    }

    .contener .formulaire img{
        display: none;
    }
    .contener .formulaire img.bg{
        display: block;
    }

    .contener .formulaire .saveprofil{
        position: absolute;
        display: block;
        bottom: 40%;
        width: 80%;
        top:auto;
        -webkit-transform: translate(-50%,0.05%);
        -ms-transform: translate(-50%,0.05%);
        transform: translate(-50%,0.05%);
    }

    .contener .formulaire .saveprofil form{
        width: 100%;
    }
    
    .contener .formulaire .saveprofil a.valide{
        bottom: 0;
    }

    .contener .formulaire a.retour{
        display: none;
    }
}



/* -- PORTRAIT --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (orientation: portrait) {

    html{
        width:100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    
    body{
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 12pt;
        background-color: #5b5971;
        font-family: 'Knul-Medium', Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        overflow: hidden;
        text-align: center;
    }

    .footer{
        height:56px;
    }

    .header iframe{
        overflow: hidden;
    }
    
    canvas{
        position: absolute;
        display: block;
        width: 600px;
        height: 315px;
    }

    .contener{
        margin-top: 100px;
        width: 100%;
        overflow: hidden;
        max-width: 768px;
        min-width: auto;
        position: relative;
        min-height: auto;
        top:0;
        overflow-y: scroll;
        overflow-x: hidden;
        left: 0%;
        -webkit-transform: translateX(0.05%);
        -ms-transform: translateX(0.05%);
        transform: translateX(0.05%);
    }
    
    .joueurs{
        display: none;
    }

    .cercle{
        display: none;
    }

    img.logo{
        position: relative;
        width: 90%;
        margin: 2% auto 5% auto;
        left: auto;
        -webkit-transform: translateX(0.05%);
        -ms-transform: translateX(0.05%);
        transform: translateX(0.05%);
    }

    img.cg{
        width: 90%;
    }

    img.cd{
        width: 50%;
    }
    
    .contener .intro, .contener .selection, .contener .formulaire, .contener .partages{
        position: relative;
        height: auto;
        min-height: auto;
        left:0;
        -webkit-transform: translateY(0.05%);
        -ms-transform: translateY(0.05%);
        transform: translateY(0.05%);
        overflow: hidden;
        padding-bottom: 5%;
        text-align: center;
    }

    .contener .intro h1{
        position: relative;
        top: auto;
        width: 100%;
        font-size: 8vw;
    }
    
    .contener .intro ol{
        position: relative;
        width: 90%;
        top: auto;
        margin-top: 7%;
    }
    
    .contener .intro ol li{
        font-size: 4.5vw;
        text-align: left;
    }

    .bouton{
        position: relative;
        width: 50%;
        margin: 6% auto 5% auto;
        bottom: auto;
        left: auto;
        display: block;
        -webkit-transform: translateX(0.05%);
        -ms-transform: translateX(0.05%);
        transform: translateX(0.05%);
        -webkit-transform: skewX(-12deg);
        -moz-transform: skewX(-12deg);
        -ms-transform: skewX(-12deg);
        -o-transform: skewX(-12deg);
        transform: skewX(-12deg);
    }

    .bouton span{
        display: inline-block;
        -webkit-transform: skewX(12deg);
        -moz-transform: skewX(12deg);
        -ms-transform: skewX(12deg);
        -o-transform: skewX(12deg);
        transform: skewX(12deg);
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    }

    .joue, .valide{
        bottom: auto;
        width: 25%;
        margin: 6% auto 5% auto;
        text-align: center;
        padding: 14px 50px;
    }

    .applih, .savoir{
        font-size: 1.0em;
    }

    .patienter{
        text-align: center;
        bottom: auto;
        width: 100%;
        margin: 6% auto 5% auto;
        position: relative;
    }

    .dotation{
        position: relative;
        width: 100%;
        top: auto;
        left:0;
        -webkit-transform: translateY(0.05%);
        -ms-transform: translateY(0.05%);
        transform: translateY(0.05%);
        margin-top: 6%;
        text-align: center;
    }

    .dotation img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .contener .selection .divlogo{
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 0;
        margin: 0 0 3% 0;
    }

    .contener .selection .divlogo img.logosl{
        width: 60%;
        height: auto;
        margin: 2% auto 5% auto;;
    }
    
    .contener .selection img.bg{
        position: absolute;
        top:0;
        height: 120%;
        width: auto;
        display: block;
    }

    .contener .selection ul{
        position: relative;
        width: 100%;
        height: 135vw;
    }

    .contener .selection ul li{
        width: 22%;
    }

    .contener .selection a.nodisplay{
        display: none;
    }

    .contener .selection h3{
        bottom: auto;
        position: relative;
        display: block;
        left:0;
        -webkit-transform: translateY(0.05%);
        -ms-transform: translateY(0.05%);
        transform: translateY(0.05%);
        margin-bottom: 5%;
    }

    .contener .selection ul li.ailierg{
        left:2%;
        -webkit-transform: translate(-2%,23%);
        -ms-transform: translate(-2%,23%);
        transform: translate(-2%,23%);
    }
    
    .contener .selection ul li.ailierd{
        left:98%;
        -webkit-transform: translate(-98%,23%);
        -ms-transform: translate(-98%,23%);
        transform: translate(-98%,23%);
    }

    .contener .selection ul li.milieu1{
        left: 24%;
        -webkit-transform: translate(-24%,95%);
        -ms-transform: translate(-24%,95%);
        transform: translate(-24%,95%);
    }
    
    .contener .selection ul li.milieu2{
        left:76%;
        -webkit-transform: translate(-76%,95%);
        -ms-transform: translate(-76%,95%);
        transform: translate(-76%,95%);
    }

    .contener .selection ul li.defenseur1{
        left:1%;
        -webkit-transform: translate(-1%, 190%);
        -ms-transform: translate(-1%, 190%);
        transform: translate(-1%, 190%);
    }
    .contener .selection ul li.defenseur4{
        left:99%;
        -webkit-transform: translate(-99%, 190%);
        -ms-transform: translate(-99%, 190%);
        transform: translate(-99%, 190%);
    }

    .contener .selection ul li.defenseur2{
        left:27%;
        -webkit-transform: translate(-27%, 210%);
        -ms-transform: translate(-27%, 210%);
        transform: translate(-27%, 210%);
    }
    
    .contener .selection ul li.defenseur3{
        left:73%;
        -webkit-transform: translate(-73%, 210%);
        -ms-transform: translate(-73%, 210%);
        transform: translate(-73%, 210%);
    }

    .contener .selection ul li.gardien{
        left:50%;
        -webkit-transform: translate(-50%, 290%);
        -ms-transform: translate(-50%, 290%);
        transform: translate(-50%, 290%);
    }

    .contener .popup{
        top: 0;
        left: 0;
        -webkit-transform: translate(0.05%,0.05%);
        -ms-transform: translate(0.05%,0.05%);
        transform: translate(0.05%,0.05%);
    }

    .contener .popup .modal{
        width: 100%;
        top: 0;
        left: 0;
        -webkit-transform: translate(0.05%,0.05%);
        -ms-transform: translate(0.05%,0.05%);
        transform: translate(0.05%,0.05%);
    }

    .contener .popup .modal ul{
        margin: 12% 0 2% 0;
    }

    .contener .popup .modalzoom{
        width: 100%;
        height: 100%;
        max-height: 440px;
        overflow: hidden;
    }
    
    .contener .popup .modal .zoomphot{
        font-size: 0;
        width: 100%;
        height: 100%;
        margin-top: 40px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    
    .contener .popup .modal .zoomphot img{
        width:auto;
        height: 100%;
        max-height: 400px;
        margin: 0;
        padding: 0;
    }

    .contener .popup .modal ul li a p span.perf{
        display: block;
        font-size: .6em;
        height: 80px;
        min-height: 50px;
        margin-top: 10px;
    }

    .contener .popup .modal ul li a:hover, .contener .popup .modal ul li a.insel{
        background:#fff;
        color:#c51965;
    }

    .contener .selection h3.nodisplay{
        display: none;
    }

    .contener .formulaire h2, .contener .partages h2, .contener .partages h3{
        position: relative;
        width: 90%;
        margin: 0 auto;
        left: 0%;
        -webkit-transform: translateX(0.05%);
        -ms-transform: translateX(0.05%);
        transform: translateX(0.05%);
        display: inline-block;
        color: #fff;
        font-family: 'Knul-Medium', Arial, Helvetica, sans-serif;
        font-size: 5vw;
        text-align: center;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
        font-weight: normal;
        margin: 0 auto;
        line-height: 1.2em;
    }

    .contener .partages h2 br.portrait{
        display: none;
    }

    .contener .partages h3{
        margin-top: 5%;
    }

    .contener .formulaire .monequipe, .contener .partages .monequipe{
        position: relative;
        top: 0;
        margin-top: 5%;
        width: 95%;
        left: 0%;
        -webkit-transform: translateX(0.05%);
        -ms-transform: translateX(0.05%);
        transform: translateX(0.05%);
    }


    .contener .formulaire .saveprofil{
        position: relative;
        width: 90%;
        left: 0%;
        bottom:auto;
        -webkit-transform: translate(0.05%,0.05%);
        -ms-transform: translate(0.05%,0.05%);
        transform: translate(0.05%,0.05%);
        margin: 5% auto 0 auto;
        text-align: center;
        margin: 5% auto 0 auto;
    }

    .contener .formulaire .saveprofil form ul{
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .contener .formulaire .saveprofil form ul li{
        display: block;
        list-style: none;
        width: 94%;
    }

    .retour{
        position: relative;
        left: 0%;
        -webkit-transform: translateX(0.05%);
        -ms-transform: translateX(0.05%);
        transform: translateX(0.05%);
        bottom: auto;
    }

    .contener .partages ul{
        margin: 5% auto 0 auto;
        padding: 0;
        position: relative;
        display: block;
        width: 60%;
        top: auto;
        left: auto;
        -webkit-transform: translateX(0.05%);
        -ms-transform: translateX(0.05%);
        transform: translateX(0.05%);
        text-align: center;
    }

    .nodisplay{
        display: none;
    }

}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */