.jcarousel-skin-tango .jcarousel-container {
    
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 680px;
	padding: 10px 60px;
}

.jcarousel-skin-tango .jcarousel-clip-drag {
	overflow: hidden;
	width:  746px;
	height: 600px !important;
	
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
	width:  746px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  680px;
    height: 200px;
}

.jcarousel-skin-tango .figur {
    width: 136px;
    height: 186px;
	cursor: pointer;
}
.jcarousel-skin-tango .produkt {
    width: 136px;
    height: 200px;
	cursor: pointer;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 100px;
    right: 6px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal2.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 0px;
    right: auto;
    background-image: url(../images/prev-horizontal2.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -15px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -30px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -45px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 100px;
    left: 6px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal2.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 0px;
    background-image: url(../images/next-horizontal2.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -15px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -30px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -45px 0;
}
