@charset "UTF-8";
@font-face {
    font-family: 'montserratbold';
    src: url('../_fonts/montserrat-bold-webfont.eot');
    src: url('../_fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../_fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../_fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../_fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../_fonts/montserrat-regular-webfont.eot');
    src: url('../_fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../_fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../_fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../_fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
html{
  width:100%;
  margin:0;
  padding:0;
  overflow-y: scroll;
}
body{
  width:100%;
	font-family: 'montserratregular', sans-serif;
	margin:0;
	padding:0;
  text-align: center;
  background-image: url(../img/bg-header-disney-infinity2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
}
.container{
  width: 100%;
}
.container-restricted {
  max-width: 1170px;
  margin: 0 auto;
}
.container-margin {
	margin: 50px auto;
}
.container-spacer {
	margin-top: 50px;
	padding: 50px 0;
}
.liens{
  display: block;
  position:relative;
  margin:0 auto;
  text-align: center;
  width: 15%;
  background: url(../img/infosbg.png) center center no-repeat;
  background-size: contain;
  margin-bottom: 30px;
}
.liens.insideout-purple {
	background-image: url(../img/infosbg-purple.png);
}
.liens img{
  width: 100%;
  height: auto;
}
.liens span{
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 10% 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
.liens:hover span{
  font-size: 18px;
}

/* VIDEO ########################################################################################################### */
.contvideo{
  margin-top: 50px;
  position: relative;
  text-align: center;
  width: auto;
}
.contvideo img{
  width: 100%;
  height: auto;
  max-width: 852px;
  max-height: 480px;
}
.video-container a.playvideo{
  z-index:1000;
  position:absolute;
  display: block;
  text-align: center;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}
.video-container a.playoff{
  display: none;
}
.video-container a.playon{
  display: inline-block;
}
.video-container a img{
  width:14%;
  position:absolute;
  margin:auto;
  top:0;
  bottom: 0;
  left:0;
  right:0;
}
.header{
  max-width: 1170px;
  margin:0 auto;
  max-height: 244px;
  vertical-align: bottom;
  line-height: 0;
}
.header img{
  width: 100%;
  height: auto;
}
.corner{
  position: absolute;
  width:35%;
  top:0;
}
.cornerleft{
    text-align: left;
    top:0;
    left:0;
}
.cornerright{
    text-align: right;
    top:0;
    right:0;
}
.corner img{
  width:100%;
  max-width: 515px;
  height: auto;
}
strong{
	font-family: 'montserratbold', sans-serif;
}
.clearboth{
  clear:both;
}
em{
  font-style: italic;
}
/* #### VIDEO ################################################################################### */
/*
video.di3trailer{
  width:90%;
  margin: 0 5%;
  max-width: 852px;
  border: 1px solid #efae1f;
}
*/
.contvideo{
  margin-top: 50px;
  position: relative;
  text-align: center;
  width: auto;
}
.contvideo img{
  width: 100%;
  height: auto;
  max-width: 852px;
  max-height: 480px;
}
.contvideo a.playvideo{
  z-index:1000;
  position:absolute;
  display: block;
  height: 100%;
  text-align: center;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}
.contvideo a.playoff{
  display: none;
}
.contvideo a.playon{
  display: inline-block;
}
.contvideo a img{
  width:14%;
  position:absolute;
  margin:auto;
  top:0;
  bottom: 0;
  left:0;
  right:0;
}
.video-container {
  width: 100%;
  max-width: 852px;
  margin: 50px auto 0 auto;
  background: #eee;
  position: relative;
}
.video-player-size {
  padding-left: 100%;
  padding-top: 56.25%;
}
.video-player {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.conthead{
  margin-top: 0;
}
.di3trailer{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /* height: auto; */
  margin: 0 auto;
  max-width: 852px;
  max-height: 480px;
}
/* flash f4V */
.fldi3trailer{
  width:90%;
  height: auto;
  margin: 0 5%;
  max-width: 852px;
  border: 1px solid #efae1f;
}
.ie8 .fldi3trailer{
  height:479px;
}
.chatacters img{
  width:100%;
  max-width: 1170px;
  height: auto;
}
/*	NAVBAR ########################################################################################## */
.dsnf3navbloc{
	margin:0 0 60px 0;
}
.dsnf3navbar{
	height: 60px;
	border: 0;
	background: url(../img/navbar_bg.png) top left repeat-x;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	z-index: 5;
	padding: 0;
	margin: 0;
  text-align: center;
}
.dsnf3nav{
	margin: 0 auto;
	padding:0;
	list-style: none;
	text-align: justify;
  max-width: 1170px;
}
.dsnf3nav li{
	display: inline-block;
	height: 60px;
  margin: 0;
	padding:0;
  width:14.285%;
}
.dsnf3nav li:first-child{
  display:none;
}
.dsnf3nav li a{
	display: inline-block;
	font-family: 'montserratbold', sans-serif;
	color: #000;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding: 0;
  border:0;
  margin:0;
	height: 60px;
	vertical-align: middle;
	line-height: 60px;
}
.dsnf3nav li a span{
	display: inline-block;
	line-height: normal;
	vertical-align:middle;
}
.dsnf3nav li a:hover{
	background: #fff;
	color: #f16327;
}
.dsnf3nav li a.monoligne{
	padding: 0;
	margin: 0;
  vertical-align: middle;
}
.dsnf3nav li a.active{
	color: #f16327;
	background: #fff;
}
.dsnf3nav li.active a:hover{
	color: #f16327;
	background: #fff;
}
.dsnf3nav li a.select,.dsnf3nav li a.selecton{
  padding: 0;
	margin: 0;
	color: #fff;
	background: url(../img/navbar_select.png) top left repeat-x;
}
.dsnf3nav li a.select:hover{
  /*
	color: #f16327;
	background: #fff;
	text-shadow: 0px 2px 1px rgba(255,255,255,1);
  */
  cursor: default;
}
.dsnf3nav li a.selecton:hover{
  cursor: pointer;
}
/*////////////////////////////////////////
	TITRES
////////////////////////////////////////*/
.container h1{
	font-size: 40px;
	font-family: 'montserratbold', sans-serif;
	display: block;
	width: 100%;
  max-width: 1170px;
  margin:0 auto;
	text-align: center;
	text-transform: uppercase;
	color: #d0362d;
	text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
}
.container h2{
	font-size: 24px;
	font-family: 'montserratbold', sans-serif;
	width: 100%;
  max-width: 1170px;
	text-align: center;
	color: #eb5e1c;
  margin: 2% auto 0 auto;
  font-weight: normal;
  text-transform: uppercase;
}
.container h3{
	font-size: 20px;
	font-family: 'montserratbold', sans-serif;
	width: 100%;
  max-width: 1170px;
	text-align: center;
	color: #000;
  margin: 2% auto 0 auto;
  font-weight: normal;
}
.container h4{
	font-size: 16px;
	width: 100%;
	text-align: left;
	color: #000;
	margin-top: 1%;
}
.container p {
	text-align: left;
}
.container-restricted {
	padding: 0 10px;
  box-sizing: border-box;
}
.container h4.text-aligned{
  text-align: center;
}
  .zcom span{
    font-size: 12px;
  }
/*////////////////////////////////////////
	FOOTER
////////////////////////////////////////*/
.footer{
	width: 100%;
	background: #000 url(../img/footer.png) bottom center repeat-x;
	color: #fff;
}
.social{
	width: 100%;
	height: 87px;
	background: #333;
  margin: 0;
  padding: 0;
}
.socialbox{
	width: auto;
	height: 87px;
	margin: 0 auto;
}
.social a{
	display: inline-block;
	width: 87px;
	height: 87px;
}
.social a:hover{
	opacity: 0.8;
}
.ico-fb{
	background: url(../img/ico-fb.png);
}
.ico-tw{
	background: url(../img/ico-tw.png);
}
.ico-yt{
	background: url(../img/ico-yt.png);
}
.footerbox{
	max-width: 1170px;
	margin: 0 auto;
	text-align: center;
  padding:1% 0 0 0;
}
.footerbox p{
	font-size: 10px;
	font-weight: normal;
	font-family: Arial, Sans-serif;
	padding: 30px 5px 40px 5px;
}
/* -------------------------------------------------------------------------------------------------------- MAX 768PX */
@media screen and (max-width:767px) {
  body{
    background-image: url(../img/bg-header-disney-infinity3.jpg);
    background-position: center 60px;
    background-repeat: no-repeat;
    background-size: 102% auto;
  }
  .conthead{
    margin-top:60px;
    margin-bottom: 4%;
  }
	.container-margin {
		margin: 20px auto;
	}
	.container-spacer {
		margin-top: 20px;
		padding: 20px 0;
	}
	.container-restricted {
	  max-width: 96%;
	  margin: 0 auto;
	}
	.container p {
		text-align: justify;
		padding: 0 10px;
	}
  .contvideo{
    margin-top: 3%;
  }
  .corner{
    position: absolute;
    width:35%;
    top:60px;
  }
	.dsnf3navbloc{
    position: absolute;
    z-index:10000;
    height:auto;
    top:0;
    width:100%;
    background: #eeb61f url(../img/navbar_bg.png) top left repeat-x;
  }
  .dsnf3navbar{
  	height: 100%;
  	border: 0;
  	background: url(../img/navbar_bg.png) top left repeat-x;
  	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
  	z-index: 5;
  	padding: 0;
  	margin: 0;
    text-align: center;
  }
  .dsnf3nav{
    width:100%;
    display: block;
    height: 60px;
    overflow: hidden;
  }
  .dsnf3nav li:first-child{
    display: block;
    width:100%;
    height: 60px;
  }
  .dsnf3nav li a{
    display: block;
    font-size:14px;
    /*height: 60px;
    line-height: 60px;*/
  }
  .menuopen{
    display: table;
    height: 100%;
    width: 100%;
  }
  .menuopen li{
    display: table;
    width: 100%;
    float: left;
    height: 11% !important;
  }
  .menuopen li:nth-child(n+2){
    height: 11%;
    border-top:1px solid #fff;
  }
  .menuopen li:nth-child(n+2) a{
    height: auto;
    line-height: auto;
  }
  .logofooter{
    width: 18%;
    height: auto;
  }
  .container h1{
    font-size: 20px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.25);
  }
  .container h3{
    margin-top:3%;
    font-size: 16px;
  }
  .container h4{
    margin-top:3%;
    font-size: 14px;
  }
  .container h4, .container h5 {
	text-align: justify;
    padding: 0 10px;
	width: 100%;
	box-sizing: border-box;
  }
  .container h4.text-aligned{
    text-align: justify !important;
  }
  .liens{
    width:50%;
  }
  .footerbox p{
    padding: 30px 15px 40px 15px;
    text-align: justify;
  }
  .liens span{
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  width: 100%;
	  display: inline-block;
	  vertical-align: middle;
	  text-align: center;
	  margin: 10% 0;
	  color: #fff;
	  text-transform: uppercase;
	  font-size: 10px;
	}
	.liens:hover span{
	  font-size: 12px;
	}
}
/* -------------------------------------------------------------------------------------------------------- MAX 1200PX */
@media screen and (max-width: 1200px) and (min-width:768px){
	.dsnf3nav li a{
    font-size: 10px;
  }
  body{
    background-image: url(../img/bg-header-disney-infinity3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 102% auto;
  }
}
/* -------------------------------------------------------------------------------------------------------- MAX 1024PX */
@media screen and (max-width: 1024px){
  .liens span, .liens:hover span{
    font-size: 12px;
  }
  .zcom span{
    font-size: 11px;
  }
}
/* -------------------------------------------------------------------------------------------------------- MAX 400PX */
/*
@media screen and (max-width: 400px){
  .liens span, .liens:hover span{
    font-size: 10px;
  }
}/*
/* -------------------------------------------------------------------------------------------------------- MIN 768PX */
@media screen and (min-width:768px) {
  .dsnf3nav li:first-child{
    display: none;
  }
}
/* -------------------------------------------------------------------------------------------------------- IE 8 */
.ie8 .dsnf3nav li a{
  font-size: 9px;
  width: 120px;
}
.ie8 .dsnf3nav li a:hover{
  cursor: pointer;
}
